<%= form_for(@auction) do |f| %>
  <% if @auction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auction.errors.count, "error") %> prohibited this auction from being saved:</h2>

      <ul>
      <% @auction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_area :details %>
  </div>
  <div class="field">
    <%= f.label :ends_on %><br>
    <%= f.date_select :ends_on %>
  </div>
  <div class="field">
    <%= f.label :reserve_price %><br>
    <%= f.text_field :reserve_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
